USER_UID=1000
USER_GID=1000
WWW_USER=duong
WWW_GROUP=duong

PHP_IMAGE_VERSION=2
APP_DATA=/var/www/html/var
WEB_PORT=80
WEB_ROOT=/var/www/html/public
PHP_OPCACHE_INI=1
PHPINI_UPLOAD_MAX_FILESIZE=100M
PHPINI_POST_MAX_SIZE=100M
PHP_ZEND_EXTENSIONS=xdebug.so
PHPINI_XDEBUG__REMOTE_ENABLE=1
PHPINI_XDEBUG__REMOTE_CONNECT_BACK=1
PHPINI_XDEBUG__REMOTE_AUTOSTART=1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

